/.idea
/.php_cs.cache
/composer.lock
/build
/vendor
/tools

manifest.xml
phive.xml
phpunit-travis.xmlh
phpunit.xml

.travis.yml
build.xml
ChangeLog.md
.php_cs.dist
.gitattributes

src/AbstractTester.php
src/DatabaseListConsumer.php
src/DefaultTester.php
src/TestCase.php
src/TestCaseTrait.php
src/Tester.php

.idea
.env